body, html, * {
	padding: 0px;
	margin: 0px;
}

body {
	background: #F9F9F9 url('../images/title.png') center center no-repeat;
	font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
}

#menu {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 50px;
	width: 100%;
	background: white;
	border-bottom: 1px solid #DDDDDD;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	z-index: 12;
}

#menu_right {
	position: absolute;
	height: 20px;
	top: 0px;
	right: 0px;
	border-left: 1px solid #CCCCCC;
	padding: 15px;
	font-size: 16px;
	color: #CCCCCC;
}

#menu_left {
	position: absolute;
	height: 20px;
	padding: 15px;
	top: 0px;
	left: 0px;
	color: #CCCCCC;
}

#menu .blue {
	display: inline-block;
	width: 16px;
	margin-right: 10px;
	font-family: Open Sans;
	font-weight: 300;
	color: #6A97C4;
}

#hud .blue {
	display: inline-block;
	margin-right: 10px;
	color: #6A97C4;
	width: 13px;
}

#fopen {
	position: absolute;
	z-index: 11;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background: #FF0000;
	opacity: 0;
}

#loadingbar {
	position: absolute;
	z-index: 12;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
	background: #6A97C4;
	opacity: 0.7;
}

#perspective {
	position: fixed;
	top: 60px;
	left: 0px;
	height: 540px;
	width: 210px;
	visibility: invisible;
	z-index: 10;
}

#hud {
	position: fixed;
	z-index: 9;
	top: 40px;
	right: 0px;
	width: 200px;
	height: 60px;
	padding: 20px;
	background: #FBFBFB;
	opacity: 0.95;
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	color: #CCCCCC;
	overflow: hidden;
}

#hud input {
	border: none;
	margin-left: 0px;
	text-decoration: underline;
	outline: none;
	color: #6A97C4;
	width: 40px;
	font-family: "Open Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 16px;
	background: transparent;
	font-weight: 300;
}

#hud a {
	text-decoration: underline;
	color: #6A97C4;
}

#notes {
	width: 200px;
	margin-top: 22px;
	height: 240px;
	font-size: 11px;
	background: #FBFBFB;
	border: 1px solid #DDDDDD;
	resize: none;
	outline: none;
}

.sum {
	display: inline-block;
	width: 98px;
	margin-right: 18px;
	font-size: 26px;
	text-align: right;
	color: #6A97C4;
}

#slide {
	position: relative;
	margin: 60px auto;
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	z-index: 3;
}

#white #_sumtable {
	width: 100%;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-collapse: collapse;
}

#white td {
	vertical-align: top;
	color: #666666;
}

#_sumtable > tr {
	border-bottom: 1px solid #DDDDDD;
}

#_sumtable tr > td:first-child {
	padding-left: 20px;
	width: 300px;
}

#white .title {
	font-family: Open Sans;
	font-weight: 300;
	color: #6A97C4;
}

#white .name {color: #6A97C4;}
#white .over {background: #F9F9F9;}

#white #_sumtable .ptable td:first-child {width: 15px;}
#white .ptable td {width: 15px;}
#white .ptable {margin-left: 20px;}

.hide {display: none;}


#button_menu {
	position: fixed;
	z-index: 11;
	top: -321px;
	left: 0px;
	width: 136px;
	height: 403px;
    -webkit-column-count: 2;
    -webkit-column-width: 136px;
    -webkit-column-gap: 0px;
    column-count: 2;
    column-width: 136px;
    column-gap: 0px;
    -moz-column-count: 2;
    -moz-column-width: 136px;
    -moz-column-gap: 0px;
}

#button_menu .button {
	float: left;
	width: 130px;
	height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	text-align: right;
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
}

#button_menu .button:hover {
	margin-left: -1px;
	margin-top: -1px;
	background-color: #FFFFFF;
	border: 1px solid #6A97C4;
}

.button .blue {
	font-weight: 700;
	color: #6A97C4;
}

.button a {
	font-weight: 700;
	color: #6A97C4;
	text-decoration: none;
}

#a-in, #a-out {background: #FDFDFD url('../images/annulus.png') top left no-repeat;}
#r-in, #r-out {background: #FDFDFD url('../images/r.png') top left no-repeat;}
#p-fit {background: #FDFDFD url('../images/fit.png') top left no-repeat;}
#p-view {background: #FDFDFD url('../images/view.png') top left no-repeat;}
#p-sum {background: #FDFDFD url('../images/summary.png') top left no-repeat;}
#p-mode {background: #FDFDFD url('../images/polygon.png') top left no-repeat;}
#d-mode, #d-reset, #d-flat {background: #FDFDFD url('../images/d-mode.png') top left no-repeat;}
#z-up, #z-dn, #z-mid {background: #FDFDFD url('../images/z.png') top left no-repeat;}
#t-fw, #t-bk {background: #FDFDFD url('../images/t.png') top left no-repeat;}
#zoom-in, #zoom-out {background: #FDFDFD url('../images/zoom.png') top left no-repeat;}
#s-tin, #s-tout, #s-bin, #s-bout {background: #FDFDFD url('../images/span.png') top left no-repeat;}
#d-dl {background: #FDFDFD url('../images/d-download.png') top left no-repeat;}
#d-tools {background: #FDFDFD url('../images/d-tools.png') top left no-repeat;}
#help {background: #FDFDFD url('../images/help.png') top left no-repeat;}

.radialgraph:hover {
	background: #EEEEEE;
}
